<div class="jumbotron">
    <h1>Rest API for 24SO SOAP</h1>
    <p class="lead">This is a REST API for integrating with 24SevenOffice SOAP .</p>
    <p><a href="https://github.com/TempusAS/REST24SO" class="btn btn-primary btn-lg">Git repository &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        This REST API has a auto generated documentation page<p>
        <p><a class="btn btn-default" href="./Help">Learn more &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>See auto generated </h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SOAP Service documentation</h2>
        <p>Official documentation for the 24SevenOffice API.</p>
        <p><a class="btn btn-default" href="http://developer.24sevenoffice.com/">Learn more &raquo;</a></p>
    </div>
</div>
